
    .card {
        
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0px;
        border-color: white;
        margin-left: 0px;
        margin-bottom: 0px;
        background-color: #1a2c3f;
      
        flex-direction: column;
        position: absolute;
       
        
        padding-top: 5px;
        padding-bottom: 50px;
        width: 1300px;
        height: 500px;
        
        
    }

    .button{
        display: flex;
        align-items: center;
        justify-content: center; 
        margin-left: 220px;
        position: absolute;
        margin-top: 140px;
        background-color: rgb(77, 145, 77);
        border-radius: 4px;
    }

    